<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
  <style>
 
  </style>
  <title>Document</title>
</head>

<body>
  <div id="app">
    <!-- 如果有value值，会有限匹配value 无value值便会匹配js -->
    <select v-model="selected">
      <option> html </option>
      <option> css </option>
      <option value="javascript"> js </option>
    </select>
    <p>你选择的选项是： {{selected}}</p>
    <hr>

    <select v-model="selected" multiple>
        <option> html </option>
        <option> css </option>
        <option value="javascript"> js </option>
      </select>
      <p>你选择的选项是： {{selected}}</p>
  </div>
  <script>
    var myData = '哈哈哈'
    var vm = new Vue({
      el: '#app',
      data: {
      // selected: 'html'
      selected: ['html', 'js']
      },
      methods: {
        handleInput: function(e){
          // 改变了
          this.msg = e.target.value;
        },
        // 如果不使用key ，会复用， 输入值就无法清空
        handleToggleClick: function(){
          this.type = this.type === 'name' ? 'email' : 'name';
        }
      },
     
    })
    // 直接可以在控制台修改vm.value
  </script>
</body>

</html>